.header {
    width: 100%;
    background: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem 0 1.25rem 0;
}

.header h1 {
    color: var(--gray-100);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.header img {
    width: 2rem;
}